# macOS
.DS_Store

# Xcode
DerivedData
xcuserdata

# Swift Package Manager
.build/
Package.resolved

# Ignore Frameworks folder or specific xcframeworks
Frameworks/GoogleCast.xcframework/
Frameworks/VLCKit.xcframework/

# If you have other xcframeworks, you can add them here
Frameworks/*.xcframework

# IDEs and Editors
.idea/
*.swp
*.swo

# Logs
*.log

# Ensure .gitignore is tracked
!.gitignore

